
/.vs
/EmployeeManagementSystem/.vs/EmployeeManagementSystem/FileContentIndex
/EmployeeManagementSystem/.vs/EmployeeManagementSystem/v17
/EmployeeManagementSystem/EmsServices/obj
/EmployeeManagementSystem/.vs
/EmployeeManagementSystem/EmsServices/bin
/EmployeeManagementSystem/Employee Management/bin
/EmployeeManagementSystem/Employee Management/obj
